h1 {
  color: rgb(55, 0, 255);
  font-size: 36px;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: "Times New Roman", Times, serif;
}

h2,
h3,
h4 {
  color: rgb(236, 49, 49);
  text-decoration: underline;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 1.25;
}

li {
  font-size: 16px;
  line-height: 1;
}

/* footer {
  font-size: 12px;
} */

.navbar {
  font-size: 20px;
  font-weight: bold;
}

#copyright {
  font-size: 12px;
}

.related-authors {
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #e5e5e5;
  border-top: 3px solid #07f007;
  border-bottom: 3px solid #07f007;
}

aside {
  background-color: #e5e5e5;
  border-top: 3px solid #07f007;
  border-bottom: 3px solid #07f007;
}
