h1 {
  color: rgb(55, 0, 255);
  font-size: 36px;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: "Times New Roman", Times, serif;
}

h2,
h3,
h4 {
  color: rgb(5, 128, 243);
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
  line-height: 1.15;
}

li {
  font-size: 18px;
  line-height: 1.15;
}

/* footer {
  font-size: 12px;
} */

.navbar {
  font-size: 20px;
  font-weight: bold;
}

#copyright {
  font-size: 14px;
}

.related-authors {
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #e5e5e5;
  border-top: 3px solid #07f007;
  border-bottom: 3px solid #07f007;
}

aside {
  background-color: #e5e5e5;
  border-top: 3px solid #07f007;
  border-bottom: 3px solid #07f007;
}

/* pseudo classes */

/* article li:first-child {
  font-style: italic;
} */

/* styling hyperlinks */

a:link {
  color: blueviolet;
  text-decoration: none;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline dotted;
}

a:active {
  color: black;
  font-style: italic;
  font-weight: bold;
}
