h1 {
  color: blue;
  font-size: 36px;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: "Times New Roman", Times, serif;
}

h2,
h3,
h4 {
  color: tomato;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 1.25;
}

li {
  font-size: 16px;
  line-height: 1;
}

footer {
  font-size: 12px;
}
